@model PagedList.IPagedList<EndToEnd.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_LayoutTS.cshtml";
}
<br />
<div>
    <div>
        @Html.ActionLink("Create Student", "Create", "Students")
    </div>
    <div>
        @Html.ActionLink("Create Course","Create","Courses")
    </div>
</div>